:root {
  --bg: #030303;
  --bg-highlight: #202020;
  --text: #aaaaaa;
  --text-muted: #666666;
  --text-faint: #444444;
  --heading: #cccccc;

  --main-bg: rgb(29, 31, 33);
  --main-color: rgb(201, 202, 204);
  --second-bg: #2d2d2d;
  --nice-green: rgb(43, 188, 138);
  --nice-salmon: rgb(212, 128, 170);
  --grayish: #333;
  --whiteish: #f6f6f6;
}

[x-cloak] {
  display: none;
}

body {
  font-family: 'Roboto Mono', monospace;
  word-break: break-word;
  color: var(--main-color);
  background-color: var(--main-bg);
  margin: 0;
  padding: 1em;
}
